* {
    font-family: monospace;
}

.hero {
    text-align: center;
    color: white;
    background-color: grey;
    padding: 1rem;
}

.side-bar {
    padding: 0 2rem;
}

textarea {
    resize: none;
}

button {
    align-items: center;
    background-color: #0276FF;
    border-radius: 10px;
    border-style: none;
    color: #fff;
    cursor: pointer;
    padding: 6px 107px;
    text-align: center;
    transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
}

button {
    background-color: #1C84FF;
}